@import "https://js.arcgis.com/4.25/esri/themes/light/main.css";

/*uncomment to use dark theme*/
/* @import "https://js.arcgis.com/4.25/esri/themes/dark/main.css"; */

.map-view {
  height: 500px;
  width: 500px;
  margin: 20px auto;
}
